body
{
	background:#efefef;
	margin: 0;
	padding: 0;
}
header
{
	background: #fff;
}
h1
{
	width: 80%;
	display: inline-block;
	margin:0;
	padding: 1%;
	text-align: center;
}
header img
{
	width: 15%;
	display: inline-block;
}

nav ul li
{
	display: inline-block;
	background: #26bce0;
	color:#fff;
	padding:1%;
	border-radius: 5px;
	margin: 0 5%;
	border-bottom: 5px solid orange;
}

section
{
	width: 75%;
	display: inline-block;

}

aside
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

section article
{
	width: 30%;
	display: inline-block;
	background: #00faaa;
	vertical-align: top;
	text-align: center;
}
section article img
{
	width: 90%;
	display: block;
	margin: 1% auto;
}
button
{
	background: orange;
	color: #fff;
	padding:2%;
	border:none;
	margin: 2% auto;
}